##########################
# general stuff
##########################
*~
*.*~
*.zip
*.tar.gz
# videos
*.mp4
*.srt

##########################
# nlp/courses
##########################
nlp/courses/*.tar.gz
nlp/courses/NaturalLanguageProcessing
#nlp_coursera_stanford
nlp/courses/nlp_coursera_stanford/*
!nlp/courses/nlp_coursera_stanford/nlp.howto

